body {
  font-family: "Comfortaa", cursive;
  color: darkslategray;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: rgb(242, 106, 91);
}

h1 {
  padding: 7px;
  margin-bottom: 0;
  text-align: center;
}

li {
  list-style-type: none;
}
.activeTemp {
  color: darkslategray;
}

.btn {
  background-color: rgb(245, 178, 95);
  border-color: rgb(245, 178, 95);
  color: darkslategray;
}

.btn:hover {
  background-color: rgb(255, 219, 205);
  color: darkslategray;
}
.container {
  background-color: rgb(198, 232, 232);
  max-width: 600px;
  margin: 0 auto;
}
.feature-city {
  font-size: 24px;
  font-weight: bolder;
}
.feature-text {
  padding-right: 0;
  text-align: right;
}
.feature-temp {
  font-weight: bold;
  font-size: 18px;
}

.row1 {
  background-color: rgb(135, 202, 203);
}
.row2 {
  margin-top: 10px;
}
.row3 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#display-cond {
  text-transform: capitalize;
}
